/* Код для подключения шрифта в /css/stylename.css */
/* font-family: "LatoRegular"; */
@font-face {
    font-family: "LatoRegular";
    src: url("../fonts/LatoRegular/LatoRegular.eot");
    src: url("../fonts/LatoRegular/LatoRegular.eot?#iefix")format("embedded-opentype"),
        url("../fonts/LatoRegular/LatoRegular.woff") format("woff"),
        url("../fonts/LatoRegular/LatoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "LatoBold"; */
@font-face {
    font-family: "LatoBold";
    src: url("../fonts/LatoBold/LatoBold.eot");
    src: url("../fonts/LatoBold/LatoBold.eot?#iefix")format("embedded-opentype"),
        url("../fonts/LatoBold/LatoBold.woff") format("woff"),
        url("../fonts/LatoBold/LatoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "LatoItalic"; */
@font-face {
    font-family: "LatoItalic";
    src: url("../fonts/LatoItalic/LatoItalic.eot");
    src: url("../fonts/LatoItalic/LatoItalic.eot?#iefix")format("embedded-opentype"),
        url("../fonts/LatoItalic/LatoItalic.woff") format("woff"),
        url("../fonts/LatoItalic/LatoItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "LatoLight"; */
@font-face {
    font-family: "LatoLight";
    src: url("../fonts/LatoLight/LatoLight.eot");
    src: url("../fonts/LatoLight/LatoLight.eot?#iefix")format("embedded-opentype"),
        url("../fonts/LatoLight/LatoLight.woff") format("woff"),
        url("../fonts/LatoLight/LatoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "LatoBoldItalic"; */
@font-face {
    font-family: "LatoBoldItalic";
    src: url("../fonts/LatoBoldItalic/LatoBoldItalic.eot");
    src: url("../fonts/LatoBoldItalic/LatoBoldItalic.eot?#iefix")format("embedded-opentype"),
        url("../fonts/LatoBoldItalic/LatoBoldItalic.woff") format("woff"),
        url("../fonts/LatoBoldItalic/LatoBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "LatoLightItalic"; */
@font-face {
    font-family: "LatoLightItalic";
    src: url("../fonts/LatoLightItalic/LatoLightItalic.eot");
    src: url("../fonts/LatoLightItalic/LatoLightItalic.eot?#iefix")format("embedded-opentype"),
        url("../fonts/LatoLightItalic/LatoLightItalic.woff") format("woff"),
        url("../fonts/LatoLightItalic/LatoLightItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}






/* Код для подключения шрифта в /css/stylename.css */
/* font-family: "RalewayRegular"; */
@font-face {
    font-family: "RalewayRegular";
    src: url("../fonts/RalewayRegular/RalewayRegular.eot");
    src: url("../fonts/RalewayRegular/RalewayRegular.eot?#iefix")format("embedded-opentype"),
        url("../fonts/RalewayRegular/RalewayRegular.woff") format("woff"),
        url("../fonts/RalewayRegular/RalewayRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "RalewayThin"; */
@font-face {
    font-family: "RalewayThin";
    src: url("../fonts/RalewayThin/RalewayThin.eot");
    src: url("../fonts/RalewayThin/RalewayThin.eot?#iefix")format("embedded-opentype"),
        url("../fonts/RalewayThin/RalewayThin.woff") format("woff"),
        url("../fonts/RalewayThin/RalewayThin.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "RalewayExtraLight"; */
@font-face {
    font-family: "RalewayExtraLight";
    src: url("../fonts/RalewayExtraLight/RalewayExtraLight.eot");
    src: url("../fonts/RalewayExtraLight/RalewayExtraLight.eot?#iefix")format("embedded-opentype"),
        url("../fonts/RalewayExtraLight/RalewayExtraLight.woff") format("woff"),
        url("../fonts/RalewayExtraLight/RalewayExtraLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "RalewayLight"; */
@font-face {
    font-family: "RalewayLight";
    src: url("../fonts/RalewayLight/RalewayLight.eot");
    src: url("../fonts/RalewayLight/RalewayLight.eot?#iefix")format("embedded-opentype"),
        url("../fonts/RalewayLight/RalewayLight.woff") format("woff"),
        url("../fonts/RalewayLight/RalewayLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "RalewayMedium"; */
@font-face {
    font-family: "RalewayMedium";
    src: url("../fonts/RalewayMedium/RalewayMedium.eot");
    src: url("../fonts/RalewayMedium/RalewayMedium.eot?#iefix")format("embedded-opentype"),
        url("../fonts/RalewayMedium/RalewayMedium.woff") format("woff"),
        url("../fonts/RalewayMedium/RalewayMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "RalewaySemiBold"; */
@font-face {
    font-family: "RalewaySemiBold";
    src: url("../fonts/RalewaySemiBold/RalewaySemiBold.eot");
    src: url("../fonts/RalewaySemiBold/RalewaySemiBold.eot?#iefix")format("embedded-opentype"),
        url("../fonts/RalewaySemiBold/RalewaySemiBold.woff") format("woff"),
        url("../fonts/RalewaySemiBold/RalewaySemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "RalewayBold"; */
@font-face {
    font-family: "RalewayBold";
    src: url("../fonts/RalewayBold/RalewayBold.eot");
    src: url("../fonts/RalewayBold/RalewayBold.eot?#iefix")format("embedded-opentype"),
        url("../fonts/RalewayBold/RalewayBold.woff") format("woff"),
        url("../fonts/RalewayBold/RalewayBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "RalewayExtraBold"; */
@font-face {
    font-family: "RalewayExtraBold";
    src: url("../fonts/RalewayExtraBold/RalewayExtraBold.eot");
    src: url("../fonts/RalewayExtraBold/RalewayExtraBold.eot?#iefix")format("embedded-opentype"),
        url("../fonts/RalewayExtraBold/RalewayExtraBold.woff") format("woff"),
        url("../fonts/RalewayExtraBold/RalewayExtraBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "RalewayBlack"; */
@font-face {
    font-family: "RalewayBlack";
    src: url("../fonts/RalewayBlack/RalewayBlack.eot");
    src: url("../fonts/RalewayBlack/RalewayBlack.eot?#iefix")format("embedded-opentype"),
        url("../fonts/RalewayBlack/RalewayBlack.woff") format("woff"),
        url("../fonts/RalewayBlack/RalewayBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


.menu .submenu {
    position: absolute;
    margin: 0;
    padding: 0;
    background: #fff;
    border-top: 1px solid #bdbdbd;
    list-style: none;
    left: 0;
    z-index: 999;
    padding-top: 30px;
    margin-top: 20px;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease .15s;
    border-radius: 0px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.075);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.075);
    background-clip: padding-box;
    padding-bottom: 31px;
}


.menu .menu-item:hover .submenu {
    opacity: 1;
    visibility: visible;
}

.menu .submenu {
    z-index: 2000;
}

body.minimize-menu .all-content {
    padding-top: 120px;
}


.top-menu {
    background: #ffffff;
    color: #000;
    height: 104px;
    padding-top: 29px;
}

li.menu-item {
    float: left;
    padding: 20px 66px 20px 0;
}

.bottom-menu {
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;
    background: #fcfcfc;
    color: #000;
    border-top: 1px solid #f0f0f0;
}

.bottom-menu .container {
    position: static;
}

.top-menu .logo {
    position: absolute;
    width: 138px;
    height: 70px;
    left: 50%;
    margin-left: -69px;
    background: url(../img/logo.png) 0 0 no-repeat;
    margin-top: -14px;
}

.top-menu .phone {
    float: left;
    font-size: 19px;
    padding-left: 34px;
    font-weight: bold;
    margin-top: 4px;
}

.top-menu .phone:before {
    content: '';
    position: absolute;
    width: 29px;
    height: 29px;
    background: url(../img/phone.png) 0 0 no-repeat;
    margin-left: -36px;
    margin-top: 3px;
}

.top-menu .ad-menu {
    float: left;
    padding-left: 34px;
    margin-top: 4px;
}

.top-menu .callback {
    float: left;
}


.menu .submenu {
    z-index: 2000;
    border-top: 0;
}


li.menu-item.search-menu {
    background: #fff;
    cursor: pointer;
}

.search-area {
    display: none;
    position: absolute;
}


.logo {}


body section.section-main .slick-dots {
    display: none !important;
}

span.ad-menu {
    clear: both;
    font-size: 9.6px;
}

.callback {
    background: #65c734;
    padding: 11px 14px;
    margin-top: -20px;
    color: #fff;
    border-radius: 6px;
    font-size: 14px;
    letter-spacing: 0.3px;
    margin-left: 21px;
    cursor: pointer;
}

.likes-menu {
    float: right;
    position: relative;
    background: url(../img/w-list.jpg) 0 0 no-repeat;
    width: 29px;
    height: 29px;
    margin-right: 105px;
    margin-top: -12px;
}

.basket-area {
    float: right;
    position: relative;
    background: url(../img/cart.png) 0 0 no-repeat;
    width: 29px;
    height: 29px;
    margin-top: -12px;

}

.enter-site {
    float: right;
    position: relative;
    background: url(../img/exit.png) 0 0 no-repeat;
    width: 29px;
    height: 33px;
    margin-right: 120px;
    margin-top: -13px;
}

.numb {
    position: absolute;
    min-width: 21px;
    height: 14px;
    border-radius: 50px;
    color: #fff;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    padding-top: 0px;
    top: -1px;
    left: -12px;
    right: 7px;
    font-weight: normal;
    border: 0;
    padding-left: 3px;
    padding-right: 3px;
    display: table;
    background: #64c733;
}

.katalog-menu {
    float: right;
    position: relative;
    background: url(../img/nav.png) 0 0 no-repeat;
    width: 23px;
    height: 18px;
    margin-right: 0;
    margin-top: -1px;
}

ul.menu li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    color: #575450;
    font-weight: 600;
}

ul.menu li a:hover {
    opacity: 1;
    color: #67C7CA;
}

.menu-item:hover a {
    opacity: 1;
    color: #67C7CA;
}

a.katalog-menu+.submenu {
    margin-top: 36px;
}

li.menu-item.search-menu {
    width: 19px;
    height: 19px;
    background: url(../img/loup.png) 0 0 no-repeat;
    position: relative;
    right: 0;
    margin-top: 8px;
    background-position: right;
    float: right;
}

.callback:hover {
    background: #469587;
}

.no-lst {
    padding-right: 0;
}

.mm-opening strong.tel-mob a{
    opacity: 0;
}